# Ignore Python cache files
__pycache__/
*.pyc
.pytest_cache
# Ignore environment variables file
.env

# Ignore virtual environment folder
venv/
env/

# Ignore IDE configurations
.idea/
.vscode/

# Ignore log files
*.log

# Ignore node_modules (if using Node.js)
node_modules/
 